# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/
!.vscode/extensions.json

# Environment Variables
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# Uploads
uploads/

# Editor files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node modules
node_modules/
frontend/node_modules/

.env